<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Thanks for your order!</title>
</head>
<style>
    body{
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    body > h1{
        font-size: 3rem;
        color: rgb(44, 44, 44);
    }
</style>
<body >
    <h1>Thanks for your purchase!</h1>
    <p style="text-align: center;">
        {{!-- We appreciate your business! --}}
    </p>
</body>

</html>