<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Privacy Policy</title>
</head>


<body>
  <p>Privacy Policy &nbsp; &nbsp;</p>
  <p>This Privacy Policy is published in compliance of:</p>
  <p>(i)Section 43A of &apos;The Information Technology Act, 2000&apos;;</p>
  <p>(ii)Rule 4 of &apos;The Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal
    Information) Rules, 2011&apos; (hereinafter referred to as the &quot;SPI Rules&quot;);</p>
  <p>(iii)Relevant Provisions of &apos;The Consumer Protection Act, 2019&apos; read with &apos;The Consumer Protection
    (E-Commerce) Rules, 2020&apos;</p>
  <p>1.DEFINITION</p>
  <p>[User(s) are requested to refer/rely upon the definition clause incorporated in the another document named as
    &apos;Terms of Use&apos; available in our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited
    in reference to all or any terms which are not defined hereinafter]</p>
  <p>(i)&quot;User ID&quot;: It is an identification code which is assigned with a unique, random number as a user
    identification to each individual User(s) through its computer/mobile devices by way of using &quot;cookies&quot;,
    or similar other electronic tools in order to improve the responsiveness for our User(s) and their individual
    interests may be identified.</p>
  <p>2.INTRODUCTION</p>
  <p>SportEx Technologies Private Limited is committed to serve you in most efficient manner. However, while serving you
    all, we ensure to consider your privacy utmost important and keep the same fully protected and safe. In order to
    ensure that We deliver our commitment, keep transparent processes to deal with and about the data we collect from
    our User(s) and how it is used and, we further ensure that it is never shared with any third parties with or without
    our conscious efforts.</p>
  <p>This Privacy Policy shall apply to all our User(s) who visit and access our Website(s)/Mobile Application(s)
    developed by SportEx Technologies Private Limited. User(s) herein unconditionally agree that browsing our
    Website(s)/Mobile Application(s) of SportEx Technologies Private Limited and/or using its services signifies their
    unconditional assent to this Privacy Policy and the Terms of Use published herein.</p>
  <p>We respect the privacy of our User(s) and, committed to protect it in all respects. Any dispute with SportEx
    Technologies Private Limited over any privacy matters are subject to this Privacy Policy read in conjunction with
    the &apos;Terms of Use&apos; published on our Website(s)/Mobile Application(s) of SportEx Technologies Private
    Limited.</p>
  <p>By accessing and/or using the Website(s)/Mobile Application(s), the Users signify their agreement to accept this
    Privacy Policy. IF YOU DO NOT AGREE WITH ANY OR ALL OF THE FOLLOWING TERMS OF THE PRIVACY POLICY, PLEASE DO NOT
    ACCESS AND/OR USE THE WEBSITE(S)/MOBILE</p>
  <p>APPLICATION(S) OF SportEx Technologies Private Limited.</p>
  <p>Live Scores and Virtual Gameplay:</p>
  <ul>
    <li>Purpose: Sportex provides users with the fastest live scores for various sports events and offers a platform for
      virtual gameplay.</li>
    <li>No Betting: We want to emphasize that our platform does not involve real money betting or promote any form of
      gambling. Users are not allowed to use real money for gameplay.</li>
    <li>Virtual Gameplay: Our virtual gameplay feature is purely for entertainment purposes, allowing users to engage in
      friendly competition without any financial stakes.</li>
  </ul>
  <p>3.PERSONAL INFORMATION</p>
  <p>&quot;Personal Information&quot; is defined under the SPI Rules to mean any information that relates to a natural
    person, which, either directly or indirectly, in combination with other information available or likely to be
    available with a body corporate, is capable of identifying such person.</p>
  <p>The SPI Rules further define &quot;sensitive personal data or information&quot; (hereinafter referred to as the</p>
  <p>&quot;SPDI&quot;) of a person to mean Personal Information about that person relating to: (i) passwords;</p>
  <p>(ii)financial information such as bank accounts, credit and debit card details or other payment instrument details;
  </p>
  <p>(iii)physical, physiological and mental health condition;</p>
  <p>(iv)name, age, address, e-mail, phone number, date of birth, sexual orientation;</p>
  <p>(v)medical records and history;</p>
  <p>(vi)biometric information;</p>
  <p>(vii)information received by body corporate under lawful contract or otherwise;</p>
  <p>(viii)visitor details as provided at the time of registration or thereafter; and</p>
  <p>(ix)call data records.</p>
  <p>All the aforementioned information is collectively referred to as &quot;Personal Information.&quot; The information
    about the Users, as collected by us from the Website(s)/Mobile Application(s) of the SportEx Technologies Private
    Limited, is given as below:</p>
  <p>a)information supplied by the users and</p>
  <p>b)information automatically tracked while navigation (Information).</p>
  <p>By accessing/using our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited and/or its services
    by the User(s), he/she voluntarily and unconditionally gives his/her consent to collection, storage, and/or use of
    the Personal Information provided by him/her, including any other changes thereto as provided by him/her at any
    later stage, for availing any kind of the services that We offer.</p>
  <p>To avail certain services on our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited, the
    User(s) may be required to provide certain information for the registration process that may include but not limited
    to :-</p>
  <p>a)your name,</p>
  <p>b)email address,</p>
  <p>c)photo,</p>
  <p>d)age,</p>
  <p>e)PIN code,</p>
  <p>f)credit card or debit card details,</p>
  <p>g)medical records and history,</p>
  <p>h)sexual orientation,</p>
  <p>i)biometric information,</p>
  <p>j)password etc., and/or your occupation, interests, and the like.</p>
  <p>We presumes adequate and lawful parental consent in case the Personal Information is shared by any user under the
    age of 18 (eighteen) years.</p>
  <p>The information as supplied by the User(s) enables us to improve our Website(s)/Mobile Application(s) of SportEx
    Technologies Private Limited and provide back to the User(s) the most user-friendly experience.</p>
  <p>All required information is service dependent and SportEx Technologies Private Limited may use the above said
    User(s) information to maintain, protect, and improve our services (including advertising services) and, also for
    developing and providing other new services for our User(s).</p>
  <p>It is clarified that any information shall not be considered as sensitive in case it is freely available and
    accessible in the public domain or is furnished under the Right to Information Act, 2005 and any</p>
  <p>rules made thereunder or, any other law for the time being in force.</p>
  <p>The primary reason for gathering information is to improve our products, deals, services, website content and
    navigation.</p>
  <p>User Image Usage and Deletion</p>
  <p>When users upload images to our platform, such as profile pictures, we only use these images for the intended
    purpose, which is typically to represent the user&apos;s profile. We do not utilize user images for any other
    purposes without explicit consent.</p>
  <p>It&apos;s important to note that once a user decides to remove their image from their profile, we ensure its prompt
    deletion from our database. We do not retain or store user images beyond the period of their usage on our platform.
    Once deleted, we do not have access to the image, and it cannot be retrieved or accessed by our team.</p>
  <p>We adhere to strict protocols to ensure the security and privacy of user data, including images. Our commitment is
    to maintain transparency and trust with our users regarding the handling of their personal information.</p>
  <p>4.REASONABLE SECURITY PRACTICES AS PER THE INFORMATION TECHNOLOGY ACT, 2000 AND ITS RULES</p>
  <p>We have implemented reasonable security practices as per Rule 8 of the SPI Rules as mentioned above and the
    Information Technology Act, 2000 amended through the Information Technology Amendment Act, 2008.</p>
  <p>We have implemented stringent, internationally acceptable standards of technology, managerial security, technical
    security, operational security and physical security in order to protect your personally identifiable information
    from loss, misuse, disclosure, alteration or destruction. We have been assured by the third party cloud service
    providers (such as Google Cloud Services, Amazon Web Services and GoDaddy) that the data collected by us are managed
    and stored firmly and securely as per the globally accepted best practices.</p>
  <p>We have implemented &quot;Reasonable Security Practices&quot; as required by the Information Technology Act, 2000
    and the SPI Rules. By complying with such provisions, we assure our User(s) proper care and control over our I.T.
    and Security operations as required under relevant sections i.e. sections 43, 43A, 45, 66, 72A &amp; 85 of the
    Information Technology Act, 2000 read with the Information Technology Amendment Act, 2008 and including related
    rules made therein. However, SportEx Technologies Private Limited or its directors, shareholders, employees, and any
    other related persons (whether directly or indirectly) shall not be held responsible for any fraudulent/criminal
    activity in regard to misuse or unauthorized use of your sensitive personal information stored in our
    Website(s)/Mobile Application(s) of SportEx Technologies Private Limited.</p>
  <p>By accessing/using our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited, User(s) agree that
    We shall not be held responsible for any uncontrollable security attacks and any consequential losses (whether
    directly or indirectly) including financial losses, loss of opportunity, legal cost, attorney&apos;s fees, business
    losses, reputation loss, direct and indirect losses that may occur to the User(s), as per the statutory provisions
    of Section 43, 43A and 45 of the Information Technology Act, 2000 including any amendments in the said Act and any
    other laws of India for the time being in force.</p>
  <p>You further agree that our management shall not be held responsible directly or indirectly for any cyber crime
    related criminal liabilities under the Information Technology Act, 2000/2008 relating to your information, as you
    have agreed and acknowledged that our management complies with due diligence (care &amp; controls) requirements of
    the Information Technology Act, 2000 including its rules and amendments.</p>
  <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration,
    disclosure or destruction of data. These include internal reviews of our data collection, storage and processing
    practices and security measures, including appropriate encryption and physical security measures to guard against
    unauthorized access to systems where we store personal data.</p>
  <p>All information gathered on our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited is
    securely stored and managed by us on third party cloud service provider&apos;s server as</p>
  <p>mentioned earlier. However, as effective as our security measures are, no security system is impenetrable. We
    cannot guarantee the security of our database, nor can we guarantee that information you supply will not be
    intercepted while being transmitted to us over the internet. In any case, we take all reasonable efforts that any
    personal information provided by you to us is transmitted through modern cryptography (secure HTTPS connection).</p>
  <p>User(s) agree that any information you include in a posting to the public discussion areas on our Website(s)/Mobile
    Application(s) of SportEx Technologies Private Limited is available to anyone who has access to our
    Website(s)/Mobile Exchange(s) of SportEx Technologies Private Limited. However, the internet is an ever evolving
    medium. We may change our Privacy Policy from time to time to incorporate in lieu of necessary future changes and/or
    to comply with amendment in the existing laws, including but not limited to cover other technical upgradation (if
    any) that may come from time to time. Of course, our use of any information we gather will always be consistent with
    the policy under which the information was collected, regardless of what the new policy may be, provided that the
    same is not also contrary to the existing laws at the relevant time in future.</p>
  <p>5.COOKIES</p>
  <p>To improve the responsiveness for our User(s), we may use &quot;cookies&quot;, or similar other electronic tools to
    collect information in order to assign each user a unique, random number as a user identification (&quot;User
    ID&quot;) to understand each and every user&apos;s individual interests using their identified computer/mobile
    devices. Unless you voluntarily identify yourself` (through registration, for example), we will have no way of
    knowing who you are, even if we assign a cookie to your computer/mobile devices. A cookie also cannot read data off
    your hard drive. The Android and iOS applications do not use &quot;cookies&quot; explicitly. However, our
    Website(s)/Mobile Application(s) of SportEx Technologies Private Limited may use third party code and libraries that
    use &quot;cookies&quot; to collect information and improve their services. User(s) have the option to either accept
    or refuse these cookies and, to know when a cookie is being sent to your device. However, in case the User(s) choose
    to refuse our cookies, he/she may not be able to use some/complete portions of our services. Advertisers using the
    platform of our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited to advertise may also
    assign and use their own cookies to your browser, a process that we do not control.</p>
  <p>Once the User(s) permit, We may obtain additional information such as list of apps installed on your device, device
    information, location, network carrier (&quot;Information&quot;) available on your device, to personalize your
    experience and improve the app suggestions. This data may also be used at our end to take necessary business
    decisions.</p>
  <p>We assure that all or any information of the User(s) shall not be shared with any third party and shall be purely
    utilized for enhancing each user experience and personalizing the services within SportEx Technologies Private
    Limited networks.</p>
  <p>Opting Out: In case any of the User(s) wish to opt out of storing cookies, the said user has an option to
    remove/block cookies in the corresponding internet browser&apos;s settings.</p>
  <p>However, this may have a direct impact upon the corresponding User(s)&apos;s experience of our services. Log File
    Information: It is necessary to inform and clarify our User(s) that:</p>
  <p>(i)We automatically collect limited information about your computer&apos;s or mobile&apos;s connection to the
    internet, mobile number/email address (if applicable), including your IP address, when you visit our
    Website(s)/Mobile Application(s) of SportEx Technologies Private Limited.</p>
  <p>(ii)Your IP address is a number that lets computers attached to the Internet know where to send you data &ndash;
    such as the pages you view.</p>
  <p>(iii)We automatically receive and log information from your browser, including your IP address, your
    computer&apos;s name, your operating system, browser type and version.</p>
  <p>6.INFORMATION FROM OTHER SOURCES</p>
  <p>(i)We may receive information about you from other sources, add it to our account information and treat it in
    accordance with this Privacy Policy.</p>
  <p>(ii)If you provide information to the platform provider or other partner, whom we provide/receive services from,
    your account information and order information may be passed on to us.</p>
  <p>(iii)We may obtain updated contact information from third parties in order to correct our records and fulfill the
    services or to communicate with you.</p>
  <p>7.DEMOGRAPHIC AND PURCHASE INFORMATION</p>
  <p>(i)We may reference other sources of demographic and other information in order to provide you with more targeted
    communications and promotions. We use Google Analytics, among others, to track the User(s) behavior on our
    Website(s)/Mobile Application(s).</p>
  <p>(ii)Google Analytics specifically has been enabled to support display advertising towards helping us to gain
    understanding of our User(s)&apos; Demographics and Interests.</p>
  <p>(iii)The reports are anonymous and cannot be associated with any individual personally identifiable information
    that you may have shared with us.</p>
  <p>8.LINKS TO THIRD PARTY SITES / AD-SERVERS</p>
  <p>Our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited may also include links to other third
    party websites or mobile applications. Such websites or mobile applications are governed by their respective privacy
    policies, which are beyond our control.</p>
  <p>Once the User(s) access any built-in third party service by switching to third party applications/websites [the
    User(s) can tell where you are by checking the URL in the location bar on your browser]. Use of any information the
    User(s) provide to such third party is governed by the respective privacy policy of the concerned operator of the
    said application/website, the User(s) are visiting. That policy may differ from ours. If the User(s) can&apos;t find
    the privacy policy of any of these third party websites/mobile applications including accessing their homepage, then
    the User(s) should contact the application or website owners directly for more information regarding this and/or for
    any other grievances.</p>
  <p>When we present information to our advertisers &ndash; to help them understand our audience and confirm the value
    of advertising on our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited &ndash; it is usually
    in the form of aggregated statistics on traffic to various pages/content within our Website(s)/ Mobile
    Application(s) of SportEx Technologies Private Limited.</p>
  <p>We use third-party advertising companies to serve ads when the User(s) visit our Website(s)/Mobile Application(s)
    of SportEx Technologies Private Limited. These companies may use information (not including your name, address,
    email address or telephone number or other personally identifiable sensitive/non-sensitive information) about your
    visits to this and other&apos;s websites or applications, in order to provide advertisements about goods and
    services of interest to the respective User(s).</p>
  <p>We do not provide any Personal Information to any third party websites/advertisers/ad- servers without your
    consent, except in the circumstance mentioned in below clause.</p>
  <p>9.INFORMATION SHARING</p>
  <p>SportEx Technologies Private Limited may share the sensitive Personal Information to any third party including
    Government Bodies / Government agencies / Government authorities / Service Provider / Alliance Partner without
    obtaining the prior consent of the User(s) in the following limited circumstances:</p>
  <p>(i)When it is requested or required by law or by any court or governmental agency or authority to disclose, for the
    purpose of verification of identity, or for the prevention, detection, investigation including cyber incidents, or
    for prosecution and punishment of offences. These disclosures are made in good faith and belief that such disclosure
    is reasonably necessary for enforcing the Privacy Policy and Terms of Use and also, for the purpose of complying
    with the applicable laws and regulations during relevant time.</p>
  <p>(ii)SportEx Technologies Private Limited proposes to share such information within its group companies/affiliated
    companies and officers and employees of such group companies/affiliated companies for the purpose of processing
    Personal Information on its behalf. We also ensure that these recipients of such information agree to process such
    information based on our instructions and in compliance with this Privacy Policy and Terms of Use also published at
    our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited. The said group companies/affiliated
    companies also ensure that the Personal Information shared with them is not transferred to any third party, except
    as provided under this clause.</p>
  <p>(iii)SportEx Technologies Private Limited may use third-party advertising companies to serve ads when the User(s)
    visit our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited. These companies may use Personal
    Information (non-sensitive personal information only) about the User(s)&apos;s visit to our Website(s)/Mobile
    Application(s) of SportEx Technologies Private Limited and other third party websites in order to provide
    advertisements about goods and services of interest to any particular User(s).</p>
  <p>(iv)SportEx Technologies Private Limited shall transfer information about the User(s) in case it is acquired by or
    merged with another company.</p>
  <p>10.ACCESSING, UPDATING AND DELETION OF PERSONAL INFORMATION</p>
  <p>When the User(s) use our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited:</p>
  <p>(i)We make good faith efforts to provide our User(s), as and when requested by such User(s), with access to their
    Personal Information and shall further ensure that any Personal Information or sensitive personal data or
    information found to be inaccurate or deficient shall be corrected, modified or amended as feasible, subject to any
    requirement for such Personal Information or sensitive personal data or information to be retained by law or for
    legitimate business purposes.</p>
  <p>(ii)We ask to each individual User(s) to identify themselves and the information requested to be accessed,
    corrected or removed before processing such requests, and we may decline to process requests that are unreasonably
    repetitive or systematic, require disproportionate technical effort, jeopardize the privacy of others, or would be
    extremely impractical (for instance, requests concerning information residing on backup tapes), or for which access
    is not otherwise required.</p>
  <p>(iii)In any case where we provide information access and correction, we perform this service free of charge, except
    if doing so would require a disproportionate effort. (iv) Upon receiving a specific request coming from any of the
    User(s), we may ensure that Personal Information in relation to such User(s) is deleted from our database as also
    from the third-party cloud service providers.</p>
  <p>(v) Because of the way we maintain certain services, after you request for deletion of your Personal Information,
    residual copies may take a period of time before they are deleted from our active servers and may remain in our
    backup systems for a certain period of time.</p>
  <p>11.Our Policies Concerning Children</p>
  <p>We do not knowingly collect or solicit personal data from anyone under the age of 16 or knowingly allow such
    persons to use our Services. If you are under 16, please do not send any information about yourself to us, including
    your name, address, telephone number, or email address. No one under the age of 16 may provide any personal data. In
    the event that we learn that we have collected personal data from a child under age 16, we will delete that
    information as quickly as possible. If you believe that we might have any information from or about a child under
    the age of 16, please contact us</p>
  <p>12.GRIEVANCE REDRESSAL MECHANISM</p>
  <p>User(s) and/or any other person, whosoever has any grievances of any kind, are requested to click upon the direct
    link as provided herein below, for necessary action:</p>
  <p>contact us We will be happy to provide any other necessary clarification in regard to this Privacy Policy or may
    help you to understand the implications of the same. Further, we may also help you in providing other information,
    at your request, with respect to our operations, as may be deemed reasonable by us. For the said purpose, you may
    reach out to the above-mentioned email address/postal address. The said request may take some time to be processed.
  </p>
</body>

</html>