<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
</head>


<style>
    body {
        word-wrap: break-word;
    }
</style>


<body>

    <p>This Privacy Policy is published in compliance of:</p>
    <ol>
        <li>Section 43A of 'The Information Technology Act, 2000';</li>
        <li>Rule 4 of 'The Information Technology (Reasonable Security Practices and Procedures and Sensitive
            Personal Information) Rules, 2011' (hereinafter referred to as the "SPI Rules");</li>
        <li>Relevant Provisions of 'The Consumer Protection Act, 2019' read with 'The Consumer Protection
            (E-Commerce) Rules, 2020'</li>
    </ol>

    <p><strong>1. DEFINITION</strong></p>
    <p>[User(s) are requested to refer/rely upon the definition clause incorporated in the another document named as
        'Terms of Use' available in our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited in
        reference to all or any terms which are not defined hereinafter]</p>
    <ul>
        <li><strong>"User ID":</strong> It is an identification code which is assigned with a unique, random number
            as a user identification to each individual User(s) through its computer/mobile devices by way of using
            "cookies," or similar other electronic tools in order to improve the responsiveness for our User(s) and
            their individual interests may be identified.</li>
    </ul>

    <p><strong>2. INTRODUCTION</strong></p>

    <p>SportEx Technologies Private Limited is committed to serving you in the most efficient manner. However, while
        serving you all, we ensure to consider your privacy utmost important and keep the same fully protected and
        safe. In order to ensure that We deliver our commitment, keep transparent processes to deal with and about
        the data we collect from our User(s) and how it is used and, we further ensure that it is never shared with
        any third parties with or without our conscious efforts.</p>
    <p>This Privacy Policy shall apply to all our User(s) who visit and access our Website(s)/Mobile Application(s)
        developed by SportEx Technologies Private Limited. User(s) herein unconditionally agree that browsing our
        Website(s)/Mobile Application(s) of SportEx Technologies Private Limited and/or using its services signifies
        their unconditional assent to this Privacy Policy and the Terms of Use published herein.</p>
    <p>We respect the privacy of our User(s) and, committed to protect it in all respects. Any dispute with SportEx
        Technologies Private Limited over any privacy matters are subject to this Privacy Policy read in conjunction
        with the 'Terms of Use' published on our Website(s)/Mobile Application(s) of SportEx Technologies Private
        Limited.</p>
    <p>By accessing and/or using the Website(s)/Mobile Application(s), the Users signify their agreement to accept
        this Privacy Policy. IF YOU DO NOT AGREE WITH ANY OR ALL OF THE FOLLOWING TERMS OF THE PRIVACY POLICY,
        PLEASE DO NOT ACCESS AND/OR USE THE WEBSITE(S)/MOBILE APPLICATION(S) OF SportEx Technologies Private
        Limited.</p>

    <p><strong>3. PERSONAL INFORMATION</strong></p>
    <p>"Personal Information" is defined under the SPI Rules to mean any information that relates to a natural
        person, which, either directly or indirectly, in combination with other information available or likely to
        be available with a body corporate, is capable of identifying such person.</p>

    <p>The SPI Rules further define "sensitive personal data or information" (hereinafter referred to as the "SPDI")
        of a person to mean Personal Information about that person relating to:</p>
    <ol>
        <li>passwords;</li>
        <li>financial information such as bank accounts, credit and debit card details or other payment instrument
            details;</li>
        <li>physical, physiological and mental health condition;</li>
        <li>name, age, address, e-mail, phone number, date of birth, sexual orientation;</li>
        <li>medical records and history;</li>
        <li>biometric information;</li>
        <li>information received by body corporate under lawful contract or otherwise;</li>
        <li>visitor details as provided at the time of registration or thereafter; and</li>
        <li>call data records.</li>
    </ol>

    <p>All the aforementioned information is collectively referred to as "Personal Information." The information
        about the Users, as collected by us from the Website(s)/Mobile Application(s) of the SportEx Technologies
        Private Limited, is given as below:</p>

    <p>a) information supplied by the users and</p>
    <p>b) information automatically tracked while navigation (Information).</p>

    <p>By accessing/using our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited and/or its
        services by the User(s), he/she voluntarily and unconditionally gives his/her consent to collection,
        storage, and/or use of the Personal Information provided by him/her, including any other changes thereto as
        provided by him/her at any later stage, for availing any kind of the services that We offer.</p>

    <p>To avail certain services on our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited,
        the User(s) may be required to provide certain information for the registration process.</p>
    <p>That may include but not limited to:</p>
    <ul>
        <li>your name,</li>
        <li>email address,</li>
        <li>sex,</li>
        <li>age,</li>
        <li>PIN code,</li>
        <li>credit card or debit card details,</li>
        <li>medical records and history,</li>
        <li>sexual orientation,</li>
        <li>biometric information,</li>
        <li>password etc., and/or</li>
        <li>your occupation, interests, and the like.</li>
    </ul>

    <p>We presume adequate and lawful parental consent in case the Personal Information is shared by any user under
        the age of 18 (eighteen) years.</p>

    <p>The information as supplied by the User(s) enables us to improve our Website(s)/Mobile Application(s) of
        SportEx Technologies Private Limited and provide back to the User(s) the most user-friendly experience.</p>

    <p>All required information is service dependent, and SportEx Technologies Private Limited may use the above
        said User(s) information to maintain, protect, and improve our services (including advertising services)
        and, also for developing and providing other new services for our User(s).</p>

    <p>It is clarified that any information shall not be considered as sensitive in case it is freely available and
        accessible in the public domain or is furnished under the Right to Information Act, 2005 and any rules made
        thereunder or, any other law for the time being in force.</p>

    <p>The primary reason for gathering information is to improve our products, deals, services, website content,
        and navigation.</p>

    <p><strong>4. REASONABLE SECURITY PRACTICES AS PER THE INFORMATION TECHNOLOGY ACT, 2000 AND ITS RULES</p>
    </strong>

    <p>We have implemented reasonable security practices as per Rule 8 of the SPI Rules as mentioned above and the
        Information Technology Act, 2000 amended through the Information Technology Amendment Act, 2008.</p>

    <p>We have implemented stringent, internationally acceptable standards of technology, managerial security,
        technical security, operational security, and physical security in order to protect your personally
        identifiable information from loss, misuse, disclosure, alteration, or destruction. We have been assured by
        the third-party cloud service providers (such as Google Cloud Services, Amazon Web Services, and GoDaddy)
        that the data collected by us are managed and stored firmly and securely as per the globally accepted best
        practices.</p>

    <p>We have implemented "Reasonable Security Practices" as required by the Information Technology Act, 2000 and
        the SPI Rules. By complying with such provisions, we assure our User(s) proper care and control over our
        I.T. and Security operations as required under relevant sections i.e. sections 43, 43A, 45, 66, 72A & 85 of
        the Information Technology Act, 2000 read with the Information Technology Amendment Act, 2008 and including
        related rules made therein. However, SportEx Technologies Private Limited or its directors, shareholders,
        employees, and any other related persons (whether directly or indirectly) shall not be held responsible for
        any fraudulent/criminal activity in regard to misuse or unauthorized use of your sensitive personal
        information stored in our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited.</p>





    <p>By accessing/using our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited, User(s)
        agree that We shall not be held responsible for any uncontrollable security attacks and any consequential
        losses (whether directly or indirectly) including financial losses, loss of opportunity, legal cost,
        attorney's fees, business losses, reputation loss, direct and indirect losses that may occur to the User(s),
        as per the statutory provisions of Section 43, 43A and 45 of the Information Technology Act, 2000 including
        any amendments in the said Act and any other laws of India for the time being in force.</p>

    <p>You further agree that our management shall not be held responsible directly or indirectly for any cyber
        crime related criminal liabilities under the Information Technology Act, 2000/2008 relating to your
        information, as you have agreed and acknowledged that our management complies with due diligence (care &
        controls) requirements of the Information Technology Act, 2000 including its rules and amendments.</p>

    <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration,
        disclosure or destruction of data. These include internal reviews of our data collection, storage and
        processing practices and security measures, including appropriate encryption and physical security measures
        to guard against unauthorized access to systems where we store personal data.</p>

    <p>All information gathered on our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited is
        securely stored and managed by us on third party cloud service provider's server as mentioned earlier.
        However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee
        the security of our database, nor can we guarantee that information you supply will not be intercepted while
        being transmitted to us over the internet. In any case, we take all reasonable efforts that any personal
        information provided by you to us is transmitted through modern cryptography (secure HTTPS connection).</p>

    <p>User(s) agree that any information you include in a posting to the public discussion areas on our
        Website(s)/Mobile Application(s) of SportEx Technologies Private Limited is available to anyone who has
        access to our Website(s)/Mobile Exchange(s) of SportEx Technologies Private Limited. However, the internet
        is an ever-evolving medium. We may change our Privacy Policy from time to time to incorporate in lieu of
        necessary future changes and/or to comply with amendments in the existing laws, including but not limited to
        cover other technical upgradations (if any) that may come from time to time. Of course, our use of any
        information we gather will always be consistent with the policy under which the information was collected,
        regardless of what the new policy may be, provided that the same is not also contrary to the existing laws
        at the relevant time in the future.</p>
    <p><strong>5. COOKIES</strong></p>
    <p>To improve the responsiveness for our User(s), we may use "cookies", or similar other electronic tools to
        collect information in order to assign each user a unique, random number as a user identification ("User
        ID") to understand each and every user's individual interests using their identified computer/mobile
        devices. Unless you voluntarily identify yourself` (through registration, for example), we will have no way
        of knowing who you are, even if we assign a cookie to your computer/mobile devices. A cookie also cannot
        read data off your hard drive. The Android and iOS applications do not use "cookies" explicitly. However,
        our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited may use third party code and
        libraries that use "cookies" to collect information and improve their services. User(s) have the option to
        either accept or refuse these cookies and, to know when a cookie is being sent to your device. However, in
        case the User(s) choose to refuse our cookies,
        he/she may not be able to use some/complete portions of our services. Advertisers using the platform of our
        Website(s)/Mobile Application(s) of SportEx Technologies Private Limited to advertise may also assign and
        use their own cookies to your browser, a process that we do not control.
        Once the User(s) permit, We may obtain additional information such as list of apps installed on your device,
        device information, location, network carrier ("Information") available on your device, to personalize your
        experience and improve the app suggestions. This data may also be used at our end to take necessary
        business decisions.
        We assure that all or any information of the User(s) shall not be shared with any third party and shall be
        purely utilized for enhancing each user experience and personalizing the services
        within SportEx Technologies Private Limited networks.</p>
    <p>However,&nbsp;this&nbsp;may&nbsp;have&nbsp;a&nbsp;direct&nbsp;impact&nbsp;upon
        the&nbsp;corresponding&nbsp;User(s)&apos;s&nbsp;experience&nbsp;of&nbsp;our&nbsp;services.&nbsp;Log&nbsp;File&nbsp;Information:&nbsp;It
        is&nbsp;necessary&nbsp;to inform&nbsp;and&nbsp;clarify&nbsp;our User(s)&nbsp;that:</p>
    <p>(i)&nbsp;We automatically collect limited information about your computer&apos;s or mobile&apos;s connection
        to the&nbsp;internet, mobile number/email address (if applicable), including your IP address, when you visit
        our&nbsp;Website(s)/Mobile&nbsp;Application(s)&nbsp;of&nbsp;SportEx Technologies&nbsp;Private&nbsp;Limited.
    </p>
    <p><br></p>
    <p>(ii)&nbsp;Your IP address is a number that lets computers attached to the Internet know where to
        send&nbsp;you&nbsp;data&nbsp;&ndash;&nbsp;such as&nbsp;the&nbsp;pages&nbsp;you&nbsp;view.</p>
    <p>(iii)&nbsp;We&nbsp;automatically&nbsp;receive&nbsp;and&nbsp;log&nbsp;information&nbsp;from&nbsp;your&nbsp;browser,&nbsp;including&nbsp;your&nbsp;IP&nbsp;address,&nbsp;your&nbsp;computer&apos;s&nbsp;name,
        your&nbsp;operating&nbsp;system,&nbsp;browser type&nbsp;and&nbsp;version.</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>6.&nbsp;INFORMATION FROM&nbsp;OTHER&nbsp;SOURCES</strong></p>
    <p>(i)&nbsp;We may receive information about you from other sources, add it to our account information
        and&nbsp;treat it&nbsp;in&nbsp;accordance&nbsp;with this&nbsp;Privacy&nbsp;Policy.</p>
    <p>(ii)&nbsp;If&nbsp;you&nbsp;provide&nbsp;information&nbsp;to&nbsp;the&nbsp;platform&nbsp;provider&nbsp;or&nbsp;other&nbsp;partner,&nbsp;whom&nbsp;we&nbsp;provide/receive&nbsp;services
        from, your&nbsp;account
        information&nbsp;and&nbsp;order&nbsp;information&nbsp;may&nbsp;be&nbsp;passed&nbsp;on&nbsp;to&nbsp;us.</p>
    <p>(iii)&nbsp;We&nbsp;may&nbsp;obtain&nbsp;updated&nbsp;contact&nbsp;information&nbsp;from&nbsp;third&nbsp;parties&nbsp;in&nbsp;order&nbsp;to&nbsp;correct&nbsp;our&nbsp;records&nbsp;and&nbsp;fulfill&nbsp;the&nbsp;services&nbsp;or&nbsp;to
        communicate&nbsp;with you.</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>7.&nbsp;DEMOGRAPHIC&nbsp;AND&nbsp;PURCHASE&nbsp;INFORMATION</strong></p>
    <p>(i)&nbsp;We&nbsp;may&nbsp;reference&nbsp;other&nbsp;sources&nbsp;of&nbsp;demographic&nbsp;and&nbsp;other&nbsp;information
        in&nbsp;order&nbsp;to&nbsp;provide&nbsp;you&nbsp;with more targeted communications and promotions. We use
        Google Analytics, among others, to&nbsp;track the&nbsp;User(s)&nbsp;behavior on&nbsp;our
        Website(s)/Mobile&nbsp;Application(s).</p>
    <p>(ii)&nbsp;Google&nbsp;Analytics&nbsp;specifically&nbsp;has&nbsp;been&nbsp;enabled&nbsp;to&nbsp;support&nbsp;display&nbsp;advertising&nbsp;towards&nbsp;helping&nbsp;us&nbsp;to&nbsp;gain&nbsp;understanding&nbsp;of&nbsp;our&nbsp;User(s)&apos;&nbsp;Demographics&nbsp;and&nbsp;Interests.
    </p>
    <p>(iii)&nbsp;The&nbsp;reports&nbsp;are&nbsp;anonymous&nbsp;and&nbsp;cannot&nbsp;be&nbsp;associated&nbsp;with&nbsp;any&nbsp;individual&nbsp;personally&nbsp;identifiable&nbsp;information&nbsp;that&nbsp;you&nbsp;may
        have&nbsp;shared&nbsp;with us.</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>8.&nbsp;LINKS TO THIRD&nbsp;PARTY&nbsp;SITES&nbsp;/&nbsp;AD-SERVERS</strong></p>
    <p>Our Website(s)/Mobile Application(s) of SportEx Technologies Private Limited may also
        include&nbsp;links&nbsp;to&nbsp;other&nbsp;third&nbsp;party&nbsp;websites&nbsp;or&nbsp;mobile&nbsp;applications.&nbsp;Such&nbsp;websites&nbsp;or&nbsp;mobile&nbsp;applications&nbsp;are&nbsp;governed&nbsp;by&nbsp;their&nbsp;respective&nbsp;privacy&nbsp;policies,&nbsp;which&nbsp;are&nbsp;beyond&nbsp;our&nbsp;control.
    </p>
    <p>Once the User(s) access any built-in third party service by switching to third
        party&nbsp;applications/websites [the User(s) can tell where you are by checking the URL in the location bar
        on&nbsp;your browser]. Use of any information the User(s) provide to such third party is governed by
        the&nbsp;respective privacy policy of the concerned operator of the said application/website, the User(s)
        are&nbsp;visiting. That policy may differ from ours. If the User(s) can&apos;t find the privacy policy of
        any of&nbsp;these third party websites/mobile applications including accessing their homepage, then the
        User(s)&nbsp;should contact the application or website owners directly for more information regarding
        this&nbsp;and/or&nbsp;for any other grievances.</p>
    <p>When we present information to our advertisers &ndash; to help them understand our audience and&nbsp;confirm
        the value of advertising on our Website(s)/Mobile Application(s) of SportEx Technologies&nbsp;Private
        Limited &ndash; it is usually in the form of aggregated statistics on traffic to various
        pages/content&nbsp;within&nbsp;our&nbsp;Website(s)/&nbsp;Mobile&nbsp;Application(s) of
        SportEx&nbsp;Technologies Private&nbsp;Limited.</p>
    <p>We use third-party advertising companies to serve ads when the User(s) visit our
        Website(s)/Mobile&nbsp;Application(s) of SportEx Technologies Private Limited. These companies may use
        information (not&nbsp;including your name, address, email address or telephone number or other personally
        identifiable&nbsp;sensitive/non-sensitive information) about your visits to this and other&apos;s websites
        or applications, in&nbsp;order&nbsp;to&nbsp;provide&nbsp;advertisements&nbsp;about goods
        and&nbsp;services&nbsp;of&nbsp;interest&nbsp;to&nbsp;the&nbsp;respective&nbsp;User(s).</p>
    <p><br></p>
    <p>We do not provide any Personal Information to any third party websites/advertisers/ad- servers&nbsp;without
        your&nbsp;consent, except in&nbsp;the&nbsp;circumstance&nbsp;mentioned&nbsp;in&nbsp;below clause.</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>9.&nbsp;INFORMATION&nbsp;SHARING</strong></p>
    <p>SportEx Technologies Private Limited may share the sensitive Personal Information to any third&nbsp;party
        including Government Bodies / Government agencies / Government authorities / Service&nbsp;Provider /
        Alliance Partner without obtaining the prior consent of the User(s) in the
        following&nbsp;limited&nbsp;circumstances:</p>
    <p>(i)&nbsp;When it is requested or required by law or by any court or governmental agency or authority
        to&nbsp;disclose, for the purpose of verification of identity, or for the prevention, detection,
        investigation&nbsp;including cyber incidents, or for prosecution and punishment of offences. These
        disclosures are&nbsp;made&nbsp;in
        good&nbsp;faith&nbsp;and&nbsp;belief&nbsp;that&nbsp;such&nbsp;disclosure&nbsp;is&nbsp;reasonably&nbsp;necessary&nbsp;for&nbsp;enforcing&nbsp;the&nbsp;Privacy&nbsp;Policy
        and Terms of Use and also, for the purpose of complying with the applicable laws
        and&nbsp;regulations&nbsp;during&nbsp;relevant&nbsp;time.</p>
    <p>(ii)&nbsp;SportEx Technologies Private Limited proposes to share such information within its
        group&nbsp;companies/affiliated companies and officers and employees of such group
        companies/affiliated&nbsp;companies for the purpose of processing Personal Information on its behalf. We
        also ensure that&nbsp;these recipients of such information agree to process such information based on our
        instructions&nbsp;and in compliance with this Privacy Policy and Terms of Use also published at
        our&nbsp;Website(s)/Mobile Application(s) of SportEx Technologies Private Limited. The said
        group&nbsp;companies/affiliated&nbsp;companies&nbsp;also&nbsp;ensure&nbsp;that&nbsp;the&nbsp;Personal&nbsp;Information&nbsp;shared&nbsp;with&nbsp;them&nbsp;is&nbsp;not&nbsp;transferred&nbsp;to&nbsp;any
        third&nbsp;party,&nbsp;except as&nbsp;provided&nbsp;under&nbsp;this&nbsp;clause.</p>
    <p>(iii)&nbsp;SportEx Technologies Private Limited may use third-party advertising companies to serve
        ads&nbsp;when the User(s) visit our Website(s)/Mobile Application(s) of SportEx Technologies
        Private&nbsp;Limited. These companies may use Personal Information (non-sensitive personal information
        only)&nbsp;about the User(s)&apos;s visit to our Website(s)/Mobile Application(s) of SportEx
        Technologies&nbsp;Private Limited and other third party websites in order to provide advertisements about
        goods and&nbsp;services&nbsp;of&nbsp;interest&nbsp;to any particular&nbsp;User(s).</p>
    <p>(iv)&nbsp;SportEx&nbsp;Technologies&nbsp;Private&nbsp;Limited
        shall&nbsp;transfer&nbsp;information&nbsp;about&nbsp;the&nbsp;User(s)&nbsp;in&nbsp;case&nbsp;it&nbsp;is&nbsp;acquired&nbsp;by
        or merged&nbsp;with another company.</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>10.&nbsp;ACCESSING,&nbsp;UPDATING&nbsp;AND&nbsp;DELETION&nbsp;OF&nbsp;PERSONAL&nbsp;INFORMATION</strong>
    </p>
    <p>When the User(s) use our Website(s)/Mobile Application(s) of SportEx Technologies Private&nbsp;Limited:</p>
    <p>(i)&nbsp;We make good faith efforts to provide our User(s), as and when requested by such User(s),
        with&nbsp;access to their Personal Information and shall further ensure that any Personal Information
        or&nbsp;sensitive personal data or information found to be inaccurate or deficient shall be
        corrected,&nbsp;modified or amended as feasible, subject to any requirement for such Personal Information
        or&nbsp;sensitive&nbsp;personal&nbsp;data&nbsp;or&nbsp;information&nbsp;to&nbsp;be&nbsp;retained&nbsp;by&nbsp;law&nbsp;or&nbsp;for&nbsp;legitimate&nbsp;business
        purposes.</p>
    <p>(ii)&nbsp;We ask to each individual User(s) to identify themselves and the information requested to
        be&nbsp;accessed, corrected or removed before processing such requests, and we may decline to
        process&nbsp;requests&nbsp;that&nbsp;are&nbsp;unreasonably&nbsp;repetitive&nbsp;or&nbsp;systematic,&nbsp;require&nbsp;disproportionate&nbsp;technical&nbsp;effort,&nbsp;jeopardize
        the privacy of others, or would be extremely impractical (for instance,
        requests&nbsp;concerning&nbsp;information&nbsp;residing&nbsp;on&nbsp;backup&nbsp;tapes),&nbsp;or&nbsp;for&nbsp;which&nbsp;access&nbsp;is&nbsp;not&nbsp;otherwise&nbsp;required.
    </p>
    <p><br></p>
    <p>(iii)&nbsp;In any case where we provide information access and correction, we perform this service free
        of&nbsp;charge, except if doing so would require a disproportionate effort. (iv) Upon receiving a
        specific&nbsp;request coming from any of the User(s), we may ensure that Personal Information in relation to
        such&nbsp;User(s)&nbsp;is&nbsp;deleted&nbsp;from&nbsp;our&nbsp;database&nbsp;as&nbsp;also&nbsp;from&nbsp;the&nbsp;third-party&nbsp;cloud&nbsp;service&nbsp;providers.
    </p>
    <p>(v)&nbsp;Because&nbsp;of&nbsp;the&nbsp;way&nbsp;we&nbsp;maintain&nbsp;certain&nbsp;services,&nbsp;after&nbsp;you&nbsp;request&nbsp;for&nbsp;deletion&nbsp;of&nbsp;your&nbsp;Personal&nbsp;Information,
        residual copies may take a period of time before they are deleted from our
        active&nbsp;servers&nbsp;and&nbsp;may remain&nbsp;in&nbsp;our
        backup&nbsp;systems&nbsp;for&nbsp;a&nbsp;certain&nbsp;period&nbsp;of&nbsp;time.</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>11.&nbsp;Our&nbsp;Policies&nbsp;Concerning&nbsp;Children</strong></p>
    <p>We do not knowingly collect or solicit personal data from anyone under the age of 16 or knowingly&nbsp;allow
        such persons to use our Services. If you are under 16, please do not send any information&nbsp;about
        yourself to us, including your name, address, telephone number, or email address. No one&nbsp;under the age
        of 16 may provide any personal data. In the event that we learn that we have
        collected&nbsp;personal&nbsp;data&nbsp;from
        a&nbsp;child&nbsp;under&nbsp;age&nbsp;16,&nbsp;we&nbsp;will&nbsp;delete&nbsp;that&nbsp;information&nbsp;as&nbsp;quickly&nbsp;as&nbsp;possible.&nbsp;If&nbsp;you&nbsp;believe
        that we might have any information from or about a child under the age of 16, please contact&nbsp;us</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>12.&nbsp;GRIEVANCE&nbsp;REDRESSAL&nbsp;MECHANISM</strong></p>
    <p>User(s)&nbsp;and/or&nbsp;any&nbsp;other&nbsp;person,&nbsp;whosoever&nbsp;has&nbsp;any&nbsp;grievances&nbsp;of&nbsp;any&nbsp;kind,&nbsp;are&nbsp;requested&nbsp;to&nbsp;click&nbsp;upon&nbsp;the&nbsp;direct&nbsp;link
        as&nbsp;provided&nbsp;herein&nbsp;below, for necessary&nbsp;action:</p>
    <p>Contact us, we will be happy to provide any other necessary clarification in regard to this
        Privacy&nbsp;Policy&nbsp;or&nbsp;may&nbsp;help&nbsp;you&nbsp;to&nbsp;understand&nbsp;the&nbsp;implications&nbsp;of&nbsp;the&nbsp;same.&nbsp;Further,&nbsp;we&nbsp;may&nbsp;also&nbsp;help&nbsp;you&nbsp;in&nbsp;providing
        other information, at your request, with respect to our operations, as may be deemed&nbsp;reasonable by us.
        For the said purpose, you may reach out to the above-mentioned email&nbsp;address/postal address.
        The&nbsp;said&nbsp;request&nbsp;may take&nbsp;some&nbsp;time&nbsp;to&nbsp;be&nbsp;processed.</p>
    <p>&nbsp;</p>
    <p><strong>13.&nbsp;CONTACT US/SUPPORT</strong></p>
    <p><strong>In case of any query, user can refer to&nbsp;</strong><a
            href="https://staging.sportex.club/support-form"><strong>https://staging.sportex.club/support-form</strong></a><strong>&nbsp;or
            write us at&nbsp;</strong><a
            href="mailto:hello@sportex.club"><strong>hello@sportex.club</strong></a><strong>.</strong></p>


</body>

</html>